In [11]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [12]:
# Read in csv
file1 = "../data/top-100-baby-names-2020.csv"
babynames = pd.read_csv(file1)
print(babynames.columns)

Index(['id', 'Girl Names', 'Count of Girl Names', 'Boy Names',
       'Count of Boy Names'],
      dtype='object')

In [13]:
dict = {
    "Girl Names":"girlsName",
    "Count of Girl Names":"girlsAmount",
    "Boy Names":"boysName",
    "Count of Boy Names":"boysAmount"
     }
babynames.rename(columns = dict, inplace = True)
display(babynames)

     id  girlsName  girlsAmount boysName  boysAmount
0     1  Charlotte          359   Oliver         525
1     2     Olivia          320     Noah         383
2     3       Isla          319     Jack         324
3     4     Amelia          295  William         322
4     5        Mia          256    Henry         307
..  ...        ...          ...      ...         ...
95   96      Eliza           52  Gabriel          64
96   97  Annabelle           52    Aiden          64
97   98      Rosie           51  Vincent          63
98   99     Hayley           51    Felix          63
99  100   Maddison           50    Blake          63

[100 rows x 5 columns]

In [14]:
babynames.dtypes

id              int64
girlsName      object
girlsAmount     int64
boysName       object
boysAmount      int64
dtype: object

# Extract and Load into Postgres(Heroku)

In [15]:
#import necessary modules

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy.sql import text

from flask import Flask, jsonify

connection_string = "postgresql://postgres:postgres@localhost:5432/BirthRate"
engine = create_engine(f'{connection_string}')

In [16]:
Names = '''
    create table Names
    (
    id integer Primary Key,
    girlsName  varchar(500),
    girlsAmount integer,
    boysName varchar(500),  
    boysAmount integer
    )   
      
'''

In [17]:
tables = {'Names' : Names.strip()          
         }

In [18]:
for table in tables.keys():
    print(f'dropping the table {table} if it already exists...')
    engine.execute(f'drop table IF EXISTS {table}')

dropping the table Names if it already exists...

In [19]:
for table , script in tables.items():
    print(f'creating the table {table}...')
    engine.execute(f'{script}')

creating the table Names...

In [20]:
babynames.to_sql(name='Names', con=engine, if_exists='append', index=False)

# Method 1 Using SQLAlchemy Session Objects

In [21]:
from sqlalchemy import MetaData
from sqlalchemy.ext.automap import automap_base

metadata = MetaData()

metadata.reflect(engine)
# reflect an existing database into a new model
Base = automap_base(metadata=metadata)
# reflect the tables
Base.prepare()

In [22]:
# We can view all of the classes that automap found

# for mappedclass in Base.classes:
#     print (mappedclass)

Base.classes.keys()

['births', 'babytable', 'tabledata', 'names', 'birthrate']

In [23]:
names = Base.classes.names

In [24]:
session = Session(engine)

In [26]:
data = session.query(names.id, names.girlsAmount, names.boysName, names.boysAmount).all()
data

AttributeError: type object 'names' has no attribute 'girlsAmount'