In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests

In [4]:
# Read in csv
file1 = "../data/BirthsbyStateandRace.csv"
births = pd.read_csv(file1)
births.head()

     state  year                                       race  births
0  Alabama  2016           American Indian or Alaska Native     133
1  Alabama  2016                                      Asian    1041
2  Alabama  2016                  Black or African American   18181
3  Alabama  2016  Native Hawaiian or Other Pacific Islander     143
4  Alabama  2016                                      White   38778

# Extract and Load into Postgres(Heroku)

In [8]:
#import necessary modules
from config import username, password, servername, port, dbname
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy.sql import text

from flask import Flask, jsonify

connection_string = "{username}:{password}@{servername}:{port}/{dbname}"
engine = create_engine(f'{connection_string}')

ModuleNotFoundError: No module named 'config'

In [58]:
mom_information = '''
    create table mom_info(
    state varchar(100) PRIMARY KEY,     
    year integer,  
    race varchar(200),
    age varchar(100),
    births integer,
    femalepop decimal,
    fertilityrate integer
    )
'''

births = '''
    create table births(
     state varchar(100) PRIMARY KEY,  
    county varchar (200),
    year integer, 
    births integer, 
   birthrate decimal,
    fertilityrate decimal  
    )
'''

infants = '''
    create table infants( 
     state varchar(100) PRIMARY KEY,   
    year integer, 
    sex varchar (100),
    pluarity varchar (100),
    age integer,
    births integer
    )
   '''

total = '''
    create table total( 
    state varchar(100) PRIMARY KEY,  
    year integer, 
    race varchar (200),
    births integer,
    birthrate decimal
   )
'''

education = '''
    create table education( 
    state varchar(100) PRIMARY KEY,  
    year integer, 
    race varchar (200),
    age integer,
    education varchar(500),
    births integer
   )
'''

In [59]:
tables = {'mom_information' : mom_information.strip(),
          'births' : births.strip(),
          'infants' : infants.strip(),
          'total' : total.strip(),
          'education' : education.strip()
         }

In [60]:
for table in tables.keys():
    print(f'dropping the table {table} if it already exists...')
    engine.execute(f'drop table IF EXISTS {table}')

dropping the table mom_information if it already exists...
dropping the table births if it already exists...
dropping the table infants if it already exists...
dropping the table total if it already exists...
dropping the table education if it already exists...

In [61]:
for table , script in tables.items():
    print(f'creating the table {table}...')
    engine.execute(f'{script}')

creating the table mom_information...
creating the table births...
creating the table infants...
creating the table total...
creating the table education...

In [62]:
mom_info.to_sql(name='mom_information', con=engine, if_exists='append', index=False)

In [ ]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt