In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import matplotlib
import pandas as pd
import numpy as np
import requests
from wordcloud import WordCloud, STOPWORDS
from scipy.stats import linregress
import scipy.stats as st

In [2]:
# Read in csv
file1 = "data/BirthsbyStateandRace.csv"

In [3]:
birth = pd.read_csv(file1)
birth.head()

     state  year                                       race  births
0  Alabama  2016           American Indian or Alaska Native     133
1  Alabama  2016                                      Asian    1041
2  Alabama  2016                  Black or African American   18181
3  Alabama  2016  Native Hawaiian or Other Pacific Islander     143
4  Alabama  2016                                      White   38778

In [4]:
birth.dtypes

state     object
year       int64
race      object
births     int64
dtype: object

In [5]:
#import necessary modules
import datetime as dt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy.sql import text

from flask import Flask, jsonify

connection_string = "postgres://mpiljlhpdduyfa:2332f5bec0021e7c8a94d4f2450748ccf8aeaf1a965c62cc3d3885a838a5e316@ec2-52-22-238-188.compute-1.amazonaws.com:5432/d29t1m9qk328vp"
engine = create_engine(f'{connection_string}')

In [20]:
births = '''
    create table births(
    state varchar(100) ,  
    year integer, 
    race varchar (250),
    births integer
   )
'''

In [21]:
tables = {
          'births' : births.strip()          
         }

In [22]:
for table in tables.keys():
    print(f'dropping the table {table} if it already exists...')
    engine.execute(f'drop table IF EXISTS {table}')

dropping the table births if it already exists...

In [23]:
for table , script in tables.items():
    print(f'creating the table {table}...')
    engine.execute(f'{script}')

creating the table births...

In [24]:
birth.to_sql(name='births', con=engine, if_exists='append', index=False)