In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import matplotlib
import pandas as pd
import numpy as np
import requests
from wordcloud import WordCloud, STOPWORDS
from scipy.stats import linregress
import scipy.stats as st

In [4]:
# Read in csv files
file1 = "data/Birth and Fertility Rate 2016 - 2019.csv"
file2 = "data/MomCharacteristics 2016 - 2019.csv"
file3 = "data/Infant Characteristics 2016 - 2019.csv"
file4 = 'data/fertility info on mom 2016 - 2019.csv'
file5 = "data/birthrate info on mom 2016 - 2019.csv"

In [48]:
birth = pd.read_csv(file1)
birth.head()

,State of Residence,County of Residence,Year,Births,Birth Rate,Fertility Rate
0,Alabama,"Baldwin County, AL",2016.0,2247,10.77,61.3
1,Alabama,"Baldwin County, AL",2017.0,2322,10.92,62.42
2,Alabama,"Baldwin County, AL",2018.0,2290,Not Available,Not Available
3,Alabama,"Baldwin County, AL",2019.0,2329,Not Available,Not Available
4,Alabama,"Baldwin County, AL",NaN,9188,21.81,124.41

In [36]:
mom_info = pd.read_csv(file4)
mom_info.head()

,State of Residence,Year,Mother's Single Race 6,Age of Mother 9,Births,Female Population,Fertility Rate
0,Alabama,2016,American Indian or Alaska Native,15-19 years,14,1211,11.56
1,Alabama,2016,American Indian or Alaska Native,20-24 years,50,1184,42.23
2,Alabama,2016,American Indian or Alaska Native,25-29 years,34,1127,30.17
3,Alabama,2016,American Indian or Alaska Native,30-34 years,21,1179,17.81
4,Alabama,2016,American Indian or Alaska Native,35-39 years,12,1184,10.14

In [37]:
mom_birthrate = pd.read_csv(file5)
mom_birthrate.head()

,State of Residence,Year,Mother's Single Race 6,Births,Total Population,Birth Rate
0,Alabama,2016.0,American Indian or Alaska Native,133,33932,3.92
1,Alabama,2016.0,Asian,1041,68864,15.12
2,Alabama,2016.0,Black or African American,18181,1303516,13.95
3,Alabama,2016.0,Native Hawaiian or Other Pacific Islander,143,5068,28.22
4,Alabama,2016.0,White,38778,3372524,11.50

In [38]:
infants = pd.read_csv(file3)
infants.head()

  State of Residence  Year Sex of Infant Plurality Age of Mother 9  Births
0            Alabama  2016        Female    Single  Under 15 years      20
1            Alabama  2016        Female    Single     15-19 years    2086
2            Alabama  2016        Female    Single     20-24 years    7610
3            Alabama  2016        Female    Single     25-29 years    8712
4            Alabama  2016        Female    Single     30-34 years    6264

In [39]:
mom = pd.read_csv(file2)
mom.head()

,State of Residence,Year,Mother's Single Race 6,Age of Mother 9,Mother's Education,Births
0,Alabama,2016,American Indian or Alaska Native,20-24 years,9th through 12th grade with no diploma,10
1,Alabama,2016,American Indian or Alaska Native,20-24 years,High school graduate or GED completed,19
2,Alabama,2016,American Indian or Alaska Native,20-24 years,"Some college credit, but not a degree",12
3,Alabama,2016,American Indian or Alaska Native,25-29 years,High school graduate or GED completed,18
4,Alabama,2016,American Indian or Alaska Native,25-29 years,"Some college credit, but not a degree",10

In [53]:
# Import Dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

In [54]:
Base = declarative_base()

class birth(Base):
    __tablename__ = 'births'
    state = Column(String, primary_key=True)
    county = Column(String)
    year = Column(Integer)
    births = Column(Integer)
    birthrate = Column(Integer)
    fertilityrate = Column(Integer)
    
    def __repr__(self):
        return "<birth(state='{}', county='{}', year={}, births={}, birthrate={}, fertilityrate{})>"\
                .format(self.birth, self.county, self.year, self.births, self.birthrate, self.fertilityrate)

SyntaxError: cannot assign to literal (<ipython-input-54-478f147dcdf8>, line 5)

In [55]:
DATABASE_URI = 'postgres+psycopg2://postgres:postgres@localhost:5432/BirthRate'

In [56]:
from sqlalchemy import create_engine

engine = create_engine(DATABASE_URI)
Base.metadata.create_all(engine)

In [34]:
fertility_info = '''
    create table fertility_info( 
    State_Residence varchar(32),    
    Year Integer,    
    Race varchar(32),    
    Age Integer,
    Births integer,
    Female Population integer,
    FertilityRate integer
  )
'''
birth_rate = '''
    create table birth_rate( 
    State_Residence varchar(32),    
    Year Integer,    
    Race varchar(32),    
    Age Integer,
    Births integer,
    Female Population integer,
    FertilityRate  INTEGER,
    Total Population INTEGER ,
    Birth Rate INTEGER,
       )
'''

moms_education = '''
    create table moms_education( 
    State_Residence varchar(32),    
    Year Integer,    
    Race varchar(32),    
    Age Integer,
    Births integer,
    Moms_Education varchar(32),)
    '''

In [42]:
tables = {'fertility_info' : mom_info, 
          'birth_rate' : mom_birthrate,
          'moms_education' : mom
         }

In [43]:
engine.table_names()

['infants', 'births']

In [51]:
birth.to_sql(name='births', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "State of Residence" of relation "births" does not exist
LINE 1: INSERT INTO births ("State of Residence", "County of Residen...
                            ^

[SQL: INSERT INTO births ("State of Residence", "County of Residence", "Year", "Births", "Birth Rate", "Fertility Rate") VALUES (%(State of Residence)s, %(County of Residence)s, %(Year)s, %(Births)s, %(Birth Rate)s, %(Fertility Rate)s)]
[parameters: ({'State of Residence': 'Alabama', 'County of Residence': 'Baldwin County, AL', 'Year': 2016.0, 'Births': 2247, 'Birth Rate': '10.77', 'Fertility Rate': '61.3'}, {'State of Residence': 'Alabama', 'County of Residence': 'Baldwin County, AL', 'Year': 2017.0, 'Births': 2322, 'Birth Rate': '10.92', 'Fertility Rate': '62.42'}, {'State of Residence': 'Alabama', 'County of Residence': 'Baldwin County, AL', 'Year': 2018.0, 'Births': 2290, 'Birth Rate': 'Not Available', 'Fertility Rate': 'Not Available'}, {'State of Residence': 'Alabama', 'County of Residence': 'Baldwin County, AL', 'Year': 2019.0, 'Births': 2329, 'Birth Rate': 'Not Available', 'Fertility Rate': 'Not Available'}, {'State of Residence': 'Alabama', 'County of Residence': 'Baldwin County, AL', 'Year': None, 'Births': 9188, 'Birth Rate': '21.81', 'Fertility Rate': '124.41'}, {'State of Residence': 'Alabama', 'County of Residence': 'Calhoun County, AL', 'Year': 2016.0, 'Births': 1357, 'Birth Rate': '11.84', 'Fertility Rate': '60.91'}, {'State of Residence': 'Alabama', 'County of Residence': 'Calhoun County, AL', 'Year': 2017.0, 'Births': 1338, 'Birth Rate': '11.66', 'Fertility Rate': '60.01'}, {'State of Residence': 'Alabama', 'County of Residence': 'Calhoun County, AL', 'Year': 2018.0, 'Births': 1265, 'Birth Rate': 'Not Available', 'Fertility Rate': 'Not Available'}  ... displaying 10 of 3182 total bound parameter sets ...  {'State of Residence': 'Wyoming', 'County of Residence': None, 'Year': None, 'Births': 27416, 'Birth Rate': '11.81', 'Fertility Rate': '63.29'}, {'State of Residence': None, 'County of Residence': None, 'Year': None, 'Births': 15340627, 'Birth Rate': '11.76', 'Fertility Rate': '59.91'})]
(Background on this error at: http://sqlalche.me/e/13/f405)